{% extends "base.html" %}
{% block content %}
   
    <section class="container cocktail-section">
        <div class="cocktail-headline text-center">
            <h2>All Cocktails</h2>
        </div>
        <hr class="mb-2">
        <div class="row mt-4">
            <div class="col-12 text-right">
            <input type="text" class="searchTerm rounded border-2" placeholder="Search cocktails">
            <button type="submit" class="btn btn-small white-text btn-warning">
            <i class="fa fa-search"></i>
            </button>
            </div>
        </div>
             {% if cocktails|length > 0 %}
                <div class="row">
                    {% for cocktail in cocktails %}
                        <div class="col-md-4">
                            <div class="cocktail-card shadow my-3">
                                <div class="cocktail-body">
                                    <img src="https://cdn.pixabay.com/photo/2019/06/13/11/28/cocktail-4271392_960_720.jpg" alt="" class="cocktail-img">
                                    <h2 class="card-cocktail-title p-3">{{ cocktail.cocktail_name }}</h2>
                                    <p class="card-cocktail-description px-3">{{ cocktail.cocktail_description }}</p>
                                </div>
                                <a href="{{url_for('get_cocktails', cocktail_id=cocktail._id)}}" class="cocktail-btn btn btn-small btn-warning text-white p-3 m-3 border border-warning ">Try</a>
                                {% if session.user|lower == cocktail.created_by|lower %}
                                    <a  href="" class="btn btn-danger">Delete</a>
                                    <a  href="" class="btn btn-success">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    </section>

{% endblock %}