{% extends "base.html"%}
{% block content %}

 <!-- Main container -->
<section id="cocktail_recipe">
   <div class="container">

<!-- Title -->
         <div class="cocktail_name text-center">
            <h2>{{ cocktail.cocktail_name }}</h2>
            <hr>
            <div class="text-muted text-center mb-4">
                <p>Posted by: <i class="fas fa-user mx-1"></i> {{ cocktail.created_by }}</p>
                <p> on <i class="fas fa-calendar-plus mx-1"></i>12/12/2020 in <i class="fas fa-folder-open mx-1 my-2"></i> {{ cocktail.category_name }} </p>
            </div>
        </div>

<!-- Image -->

        <img class="cocktail_img d-block mx-auto rounded" src="{{ cocktail.cocktail_img }}" alt="{{ cocktail.cocktail_name }}">
         <figcaption class="figure-caption text-center mx-auto"><i class="fas fa-camera mx-1"></i> Credits: {{ cocktail.cocktail_img_cred }}</figcaption>
<!-- About -->

        <div class="cocktail_description m-3 pt-2">
            <h6>"{{ cocktail.cocktail_description }}"</h6>
            <div class="addthis_inline_share_toolbox"></div>
        </div>
        {% if session.user|lower %}
            {% if is_liked == true %}
                <div class="ratings text-center mb-3">
                    <a href="" class="btn btn-dark btn-small text-white disabled"><i class="fas fa-heart"></i> {{ cocktail.cocktail_like }} Likes</a>
                </div>
            {% else %}
                <div class="ratings text-center mb-3">
                    <a href="{{ url_for('update_like', cocktail_id=cocktail._id)}}" class="btn btn-outline-secondary btn-small"><i class="fas fa-heart"></i> {{ cocktail.cocktail_like }} Likes</a>
                </div>
            {% endif %}
        {% else %}
                <div class="ratings text-center mb-3">
                    <a href="{{ url_for('login')}}" class="btn btn-outline-secondary btn-small"><i class="fas fa-heart"></i> {{ cocktail.cocktail_like }} Likes</a>
                </div>
        {% endif %}
        {% if session.user|lower == cocktail.created_by|lower %}
        <div class="pb-3 text-center">
           <button class="btn btn-danger p-3 m-3" data-toggle="modal" data-target="#delete_cocktail">Delete</button>
            <a  href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id)}}" class="btn btn-success p-3 m-3">Edit</a>
        </div>
        {% endif %}

        <div class="cocktail_info text-center bg-warning rounded">
            <div class="row text-white">
                <div class="col-4">
                    <h3>PREP TIME: </h3>
                    <p>{{ cocktail.cocktail_prep }}</p>
                </div>
                <div class="col-4">
                    <h3>SERVES:</h3>
                    <p>{{ cocktail.cocktail_serv }}</p>
                </div>
                <div class="col-4">
                    <h3>DIFFICULTY:</h3>
                    <p>{{ cocktail.cocktail_diff }}</p>
                </div>
            </div>
        </div>

<!--Ingredients and instructions-->
        <div class="shadow p-4 mb-5">
                <div class="row">
                    <div class="col-md-2 mt-2">
                    <div class="cocktail_ingredients">
                        <h4>Ingredients</h4>
                        <hr>
                         {% for line in cocktail.cocktail_ingredients.splitlines() %}
                        <ul>
                            <li class="cocktail_ingredient">{{ line }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-10 cocktail_instructions mt-2">
                    <h4 >Instructions</h4>
                    <hr>
                    <div class="cocktail_step d-flex lh-lg">
                        <ul>
                            {% for line in cocktail.cocktail_instructions.splitlines() %}
                            <li><i class="fas fa-cocktail"></i> {{ line }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="delete_cocktail" tabindex="-1" role="dialog" aria-labelledby="delete_cocktail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Delete this cocktail?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this cocktail? This will be deleted forever.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id)}}" type="button"
                        class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}