{% extends "base.html"%}
{% block content %}

    <section id="cocktail-recipe">
        <div class="container">
            <div class="row my-5">
            <!-- Title -->
            <div class="col-12">
                <h2 class="text-center">{{ cocktail.cocktail_name }}</h2>
                <p class="text-center text-muted">{{ cocktail.created_by }}</p>
                <hr>
            </div>
            </div>
            <div class="row vertical-align">
            <div class="col-md-8">  
                <img class="rounded" src="{{ cocktail.cocktail_img }}" alt="cocktail"/> 
            </div>
            <div class="col-md-4">
                <div class="card bg-light rounded shadow p-3">
                <div class="cocktail-info">
                    <h4 class="mb-3 mt-3">About this cocktail:</h4>
                    <!-- Time -->
                    <div class="row">
                    <div class="col-12">
                        <blockquote class="wp-block-quote">
                        <p> "{{ cocktail.cocktail_description }}" 
                        </p>
                        <cite>{{ cocktail.created_by }}</cite>
                        </blockquote>
                    </div>
                    </div>
                    <div class="row mt-2">
                    <div class="col-2 text-center">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="col-6">Preparation Time</div>
                    <div class="col-4">{{ cocktail.cocktail_prep }}</div>
                    </div>
                    <!-- Difficulty -->
                    <div class="row">
                    <div class="col-2 text-center">
                        <i class="fa fa-area-chart" aria-hidden="true"></i>
                    </div>
                    <div class="col-6">Difficulty</div>
                    <div class="col-4">{{ cocktail.cocktail_diff }}</div>
                    </div>
                    <!-- Serves -->
                    <div class="row">
                    <div class="col-2 text-center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="col-6">Servings</div>
                    <div class="col-4">{{ cocktail.cocktail_serv }}</div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-8">
                    <button class="btn btn-danger align-center-items">Delete</button>
                    <button class="btn btn-success">Edit</button>
                    </div>
                    <div class="col-4">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- Ingredients -->
            <div class="card rounded shadow bg-warning p-4">
            <div class="row">
                <div class="col-md-2 mt-3">
                <div class="cocktail-ingredients text-white">
                    <h4 class="text-white">Ingredients</h4>
                    <hr>
                    <ul>
                    <li>{{ cocktail.cocktail_ingredients }}</li>
                    </ul>
                </div>
                </div>
                <div class="col-md-2 mt-2">
                <div class="cocktail-tools text-white">
                    <h4 class="text-white">Tools</h4>
                    <hr>
                    <ul>
                    <li>Shaker</li>
                    <li>Spoon</li>
                    <li>Blender</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-8 mt-2">
                <div class="cocktail-directions text-white">
                    <h4 class="text-white">Instructions</h4>
                    <hr>
                    <ol>
                    <li>{{ cocktail.cocktail_instructions }}</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    </ol>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section>
        <div class="container my-4">
            <h4 class="text-center">You might also enjoy:</h4>
            <hr class="my-4">
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Controls-->
            <div class="controls-top text-center">
                <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 col-sm-12 clearfix d-md-block d-sm-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 clearfix col-sm-12 d-md-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 clearfix col-sm-12 d-md-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!--/.First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-12 clearfix d-md-block d-sm-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-12 clearfix d-md-block d-sm-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4 col-sm-12 clearfix d-md-block d-sm-block">
                    <div class="card mb-2">
                        <img class="card-img" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                        alt="Card image cap">
                        <div class="card-img-overlay">
                        <h4 class="card-title">Card title</h4>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!--/.Second slide-->
            </div>
            <!--/.Slides-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </section>

    {% endblock %}