{% extends "base.html" %}
{% block content %}

 <!-- Main container/Page Title -->
<section class="container cocktail-section">
   <div class="cocktail-headline text-center">
      <h2>All Cocktails</h2>
   </div>
   <hr class="mb-2">

    <!-- Search box -->
   <div class="row mt-4">
      <form action="{{ url_for('search') }}" method="post" class="col-4 align-item-center">
         <div class="col-sm-12 input-group">
                <input type="search" name="query" class="query form-control" placeholder="Search cocktail">
                <span class="input-group-btn">
                    <button class="btn btn-warning text-white" type="submit"><i class="fa fa-search"></i></button>
                </span>
         </div>
      </form>
   </div>
                              
    <!-- Cocktail card -->
   {% if cocktails|length > 0 %}
   <div class="row">
         {% for cocktail in cocktails %}
      <div class="col-md-4">
        <div class="cocktail-card shadow my-3">
            <div class="cocktail-body text-center">
                <img src="{{ cocktail.cocktail_img }}" alt="" class="cocktail-img rounded">
                <h4 class="card-cocktail-title py-2 px-3">{{ cocktail.cocktail_name }}</h4>
                <p>{{ cocktail.category_name }}</p>
                <small class="card-cocktail-description px-3">"{{ cocktail.cocktail_description }}"</small>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
			    </p>
            </div>
            <div class="text-center">
                <a src="{{url_for('get_cocktail', cocktail_id=cocktail._id)}}" class="text-justify-left cocktail-btn btn btn-small btn-warning text-white p-2 m-2 border border-warning "><i class="far fa-eye"></i></a>
                {% if session.user|lower == cocktail.created_by|lower %}
                <a src="{{ url_for('edit_cocktail', cocktail_id=cocktail._id)}}" class="text-justify-left cocktail-btn btn btn-small btn-success text-white p-2 m-2 border border-success "><i class="fas fa-edit"></i></a>
                <a src="{{ url_for('delete_cocktail', cocktail_id=cocktail._id) }}" class="text-justify-left cocktail-btn btn btn-small btn-danger text-white p-2 m-2 border border-danger "><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
     {% endfor %}

     
       <!-- No results -->
      {% else %}
      <div class="row m-5">
         <h2>No result found</h2>
      </div>
   </div>
   {% endif %}
</section>
{% endblock %}