{% extends "base.html"%}
{% block content %}

    <!--Main container and Background -->
    <div id="bg_cover" class="min-vh-100 m-auto">
        <section id="cover_caption">
            <div class="container">
                <!--Title -->
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-3 text-truncate text-white">Log In</h1>
                        <!--Login form -->
                        <div class="px-2">
                            <form id="register_form" class="justify-content-center" method="POST" action="{{ url_for('login') }}">
                                <div class="form-group">
                                    <label for="username" class="sr-only">Username</label>
                                    <input type="text" name="username" id="username" minlength="5"
                                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Your username"
                                        required autofocus value="{{ request.form.username }}">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" minlength="5" maxlength="15"
                                    pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Password" required>
                                </div>
                                <button class="btn btn-lg btn-warning btn-color btn-block text-uppercase" value="login" type="submit">Log In</button>
                            </form>
                        </div>
                        <!--Register page redirect -->
                        <div class="row">
                            <div class="col s12">
                                <p class="text-center mt-3">
                                    New here? <a href="{{ url_for('register') }}" class="btn-color" >Register</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </div>

{% endblock %}
