{% extends "base.html" %}
{% block content %}

    <!--Main container -->
    <div class="container">

        <!--Username header -->
        <header class="py-5 mb-2">
            <div class="jumbotron bg-warning mx-5">
                <div class="row text-center">
                    <div class="col-lg-12">
                    <h2 class="text-white">Welcome {{ username }}</h2>
                    </div>
                </div>
            </div>
        </header>

        <!--User cocktails -->
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Your Cocktails</h2>
                <hr> 
            <div class="row">
                     {% for cocktail in cocktails %}
                        <div class="col-md-4">
                            <div class="cocktail-card shadow my-3">
                                <div class="cocktail-body text-center">
                                    <img src="{{ cocktail.cocktail_img }}" alt="" class="cocktail-img rounded">
                                    <h4 class="card-cocktail-title py-2 px-3">{{ cocktail.cocktail_name }}</h4>
                                    <p>{{ cocktail.category_name }}</p>
                                    <p>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </p>
                                </div>
                                <div class="text-center">
                                <a href="{{url_for('get_cocktail', cocktail_id=cocktail._id)}}" class=" btn btn-small btn-warning text-white p-3 m-3">Try</a>
                                {% if session.user == 'admin' %}
                                    <a  href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id)}}" class="btn btn-small btn-danger p-3 m-3">Delete</a>
                                {% endif %}
                                {% if session.user|lower == cocktail.created_by|lower %}
                                    <a  href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id)}}" class="btn btn-small btn-danger p-3 m-3">Delete</a>
                                    <a  href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id)}}" class="btn  btn-small btn-success p-3 m-3">Edit</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
           
           <!--Submit a recipe button -->
            <div class="col-md-4 mb-5">
                <h2>Submit a recipe</h2>
                <hr>
                <a class="btn btn-warning text-white btn-lg mb-3" href="{{ url_for('add_cocktail')}}">Create New &raquo;</a>
                 {% if session.user == 'admin' %}
                <h2>Manage Categories</h2>
                <hr>
                <a class="btn btn-success text-white btn-lg" href="{{ url_for('get_categories')}}">Check it &raquo;</a>
                 {% endif %}
            </div>
        </div>
    </div>

{% endblock %}